html{
    margin: 0;
    background-color: #0A0E4E;
}

.first-container{
   padding-left: 390px;
   color: white;
}

.signUp-form{
    box-shadow: 0 0 14px grey;
    margin: auto;
    height: 1020px;
    width: 370px;
    border-radius: 20px;
    background-color: white;
    padding: 2rem;
}

.signUp-form label{
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.signUp-form .details{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

.signUp-form button{
    width: 80px;
    height: 40px;
    background-color: #0A0E4E;
    color: whitesmoke;
    border-radius: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px 10px grey;
    font-style: oblique;
    font-size: medium;
    font-weight: 400;
}

.signUp-form button:hover {
    box-shadow: 3px 3px 10px red;
    cursor: pointer;
}